*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --background-color: #f2f2f2;
    --nav-color: #ffffff;
    --nav-background: #000000;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: var(--nav-background);
    color: var(--nav-color);
    position: fixed;
    width: 100%;
    z-index: 5;
    top: 0;
}

i{
    color: var(--nav-color);
}

#me{
    color: var(--nav-color);
}
.menu-btn{
    background-color: transparent;
    font-size: 20px;
    border: none;
    cursor: pointer;
    padding: 5px;
}
.container{
    background-image: url(../PRINCE-DC-MAIN/picture/princewill.jpg);
    background-size: cover;
    background-position: fixed;
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
}
.image-box{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
    position: relative;
    color: var(--nav-color);
    text-align: center;
    justify-content: center;
    padding: 200px 40px;
    font-size: 15px;
}
.list{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 4;
    text-align: center;
    width: 100%;
}
.list div a{
    color: #0ef;
    display: block;
    font-size: 20px;
    margin: 10px;
}
.auto{
    color: #0ef;
    font-size: 30px;
}

.head-content p{
    font-size: 20px;
    margin-top: 20px;
}

.learn-more{
    padding: 10px 10px;
    font-size: 22px;
    color:#1f242d ;
    background-color: #0ef;
    border: none;
    border-radius: 5px;
}

.icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.icons a:hover{
    box-shadow: 0 0 10px #0ef;
}
.icons i{
    font-size: xx-large;
    margin: 10px;
    color: #0ef;
}
.services{
    margin: 50px 50px;	
}
.services h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.services a{
    width: 100%;
    display: block;
    font-size: 18px;
    padding: 10px;
    background-color: #0ef;
    color: #1f242d;
}

@media screen and (max-width: 768px){
    .services a{
        width: 300px;
        display: block;
        font-size: 18px;
        padding: 10px;
        background-color: #0ef;
        color: #1f242d;
    }
}
@media screen and (max-width: 400px){
    .services a{
        width: 300px;
        display: block;
        font-size: 18px;
        padding: 10px;
        background-color: #0ef;
        color: #1f242d;
    }
}
.my-cv-btn{
    padding: 20px 20px;
    font-size: 22px;
    background-color: #1f242d;
    color: #0ef;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
}

.my-cv{
    text-align: center;
}

.contact{
    text-align: center;
    margin: 50px 50px;
}
input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    text-align: center;
    box-shadow: 0 0 10px black;
}
textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    box-shadow: 0 0 10px black;
    text-align: center;
}

.send-btn{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    background-color: #0ef;
    color: #1f242d;
    box-shadow: 0 0 10px black;
}

footer{
    background-color: var(--nav-background);
    color: var(--nav-color);
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 10% 1;
}

.footer-section h1{
    font-size: 18px;
    text-align: center;
    color: #292f39;
}
.location{
    margin: 0 10%;
}
.location a{
    color: #1f242d;
    font-size: larger;
    font-weight: 600;
}
.error{
    color: red;
    font-size: 20px;
}
.vision{
    text-align: center;
    margin: auto;
    padding: 20px;
}
.vision h2{
    color:rgb(0, 189, 202) ;
    padding: 10px;
}
.vision p{
    font-size: 20px;
}

.prince-img{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}